<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649475005615-luq8tb9j49f2h79923ojhg4saptm708j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649475005615-luq8tb9j49f2h79923ojhg4saptm708j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649475005615-0ica6l9di27p5590bj0bom8rkf5prprk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtoYzhvnvT5C7ZIkbo3E3z4N1vydI8xp8</string>
	<key>GCM_SENDER_ID</key>
	<string>649475005615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dinefive.app</string>
	<key>PROJECT_ID</key>
	<string>dine-five-1a65f</string>
	<key>STORAGE_BUCKET</key>
	<string>dine-five-1a65f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649475005615:ios:1eaec3e41ab125615e885a</string>
</dict>
</plist>